/* Reset and Base Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'San Francisco', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}


/* Header and Navigation */
header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 18px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #666;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a.active,
nav a:hover {
    background-color: #eee;
}

/* Main Content */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Form Styles */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #666;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"],
#autocompleteBtn {
    background-color: #007aff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
#autocompleteBtn:hover {
    background-color: #0063d1;
}

/* Responsive Styles */
@media (max-width: 768px) {
    /* Styles for mobile devices */
    main {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    input[type="text"],
    select {
        font-size: 14px;
    }

    button[type="submit"],
    #autocompleteBtn {
        font-size: 14px;
        padding: 8px 16px;
    }
}